#page-header {
    background: linear-gradient(to bottom, #6caff2 0%,#4da0ed 100%);
}

#btn-container {
    flex-grow: 1;
}

#btn-click {
    width: 160px;
    height: 90px;
    
    background-color: rgb(204, 238, 255);
    border: 1px solid lightgrey;
    
    font-size: 24px;
    box-shadow: 0px 4px 5px -1px rgba(18, 20, 23, 0.3);
    
    -webkit-transition: width .5s ease-in-out, height .1s cubic-bezier(1, -1, 0, 2), box-shadow 0.1s linear;
    transition: width .5s ease-in-out, height .1s cubic-bezier(1, -1, 0, 2), box-shadow 0.1s linear;
}

#btn-click:hover {
    width: 170px;
    
    box-shadow: 0px 4px 11px 1px rgba(18, 20, 23, 0.3);
}

#btn-click:active {
    box-shadow: 0px 0px 0px 0px rgba(18, 20, 23, 0.3);
}

.sidebar {
    flex: 0 0 25%;
}

#player-box {
    padding: 4px;
    border-left: 1px solid lightgrey;
    
    max-height: 250px;
}

#player-box h2 {
    margin: 0px 0px 12px 0px;
}