body {
    font-family: Arial;
}

.center {
    text-align: center;
}

.block {
    display: flex;
    margin-bottom: 16px;
}

.block > * {
    margin-bottom: 4px;
}

.block.center {
    justify-content: center;
}